:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-black);
  width: 100%;
  height: 100vh;
}
.logo {
  display: block;
  margin: 2% auto;
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.1);
}
/* button List  */
.btnList {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.imgSize {
  width: 40px;
  height: 40px;
}
.imgSize:hover {
  transform: scale(1.1);
}
.imgBtn {
  background-color: transparent;
  border: none;
  margin: 5px;
  cursor: pointer;
}

.colorBtn {
  height: 45px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  font-weight: bold;
  cursor: pointer;
}
.colorBtn:hover {
  transform: scale(1.1);
}
.bBlue {
  background-color: var(--color-blue);
}
.bYellow {
  background-color: var(--color-yellow);
}
.bPink {
  background-color: var(--color-pink);
}

/* list */
.list {
  background-color: transparent;
  width: 60%;
  height: 400px;
  margin: 10px auto;
  overflow-y: scroll;
  list-style: none;
}
.list::-webkit-scrollbar {
  display: none;
}

.list li {
  background-color: var(--color-white);
  width: 98%;
  height: 50px;
  border-radius: 3px;
  padding-left: 10px;
  padding-top: 5px;
  align-items: center;
  display: flex;
  margin-bottom: 8px;
}
.item_img {
  width: 40px;
  height: 40px;
  padding: 4px;
}
.item_text {
  font-size: 16px;
  line-height: 50px;
  vertical-align: middle;
  padding: 8px;
}
